/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 30px; // For consistent padding
$paddingSmall: 20px;
$grey: #f6f6f6; // Background color
$width: 600px; // Width of the content area
$br: 0; // Border radius

$primary-color: #EA662A; // Primary color for Headers
$secondary-color: #28825f; // Secondary color for buttons and links

$header-bg-color: #53545B;
