---
layout: branded.hbs
subject: Customer Account Password Reset
---
<table width="100%" cellpadding="0" cellspacing="0">
    {% if customer.name %}
    <tr>
        <td class="content-block"><h1>Dear \{{ customer.name }},</h1></td>
    </tr>
    {% endif %}
    <tr>
        <td class="content-block">You have requested to have your password reset for your account at \{{ shop.name }}</td>
    </tr>
    <tr>
        <td class="content-block">Please visit this url to reset your password.</td>
    </tr>
    <tr>
        <td class="content-block aligncenter"><a href="\{{ customer.reset_password_url }}" class="btn-primary">Reset Your Password</a></td>
    </tr>
    <tr>
        <td class="content-block">If you received this email in error, you can safely ignore this email.</td>
    </tr>
</table>
